@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #000;
}

.none {
    display: none !important;
}

.container {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    position: relative;

    header {
        width: 1440px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;


        .catalog {
            width: 120px;
            height: 40px;
            gap: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: #3333CC;
            background: #EAEAF9;
            border-radius: 5px;
            cursor: pointer;
        }

        .search {
            width: 520px;
            height: 42px;
            display: flex;
            align-items: center;
            border: 2px solid #005bff;
            border-radius: 5px;
            overflow: hidden;
            img{
                margin-left: 10px;
            }

            &_input {
                width: 420px;
                height: 100%;
                padding-left: 17px;
                border: none;
                outline: 0;
            }

            &_btn {
                width: 75px;
                height: 100%;
                border: none;
                background: #005bff;
                color: white;
                font-size: 16px;
            }
        }
        .account {
            display: flex;
            gap: 40px;
            &_element {
                // margin: 0 auto;
                display: flex;
                flex-direction: column;
            }
            .icon{
                width: 24px;
            }
        }
    }

    .vibor{
        width: 140px;
        height: 90px;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #3333CC;
        border-radius: 5px;
        backdrop-filter: blur(5px);
        border: 1px solid #3333CC;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 244px;  
    }

    main {
        width: 1440px;
        height: 100vh;
        margin-top: 50px;
        
        .market_phone {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 25px;
            flex-wrap: wrap;

            .product {
                width: 232px;
                height: 380px;
                background: #7e7e7e8c;
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                overflow: hidden;
                transition: 200ms;

                &_img {
                    img {
                        width: 232px;
                    }
                }

                &_titel {
                    p {
                        font-size: 17px;
                        font-weight: 600;
                        text-align: center;
                    }
                }

                &_discount {
                    p {
                        margin-top: 15px;
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                    }
                }

                &_price {
                    p {
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                        color: #101010;
                        text-decoration: line-through;
                    }
                }
            }

            .product:hover {
                box-shadow: 0 0 15px 5px #7e7e7e8c;
                transition: 200ms;
            }
        }

        .market_pc {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 25px;
            flex-wrap: wrap;

            .product_pc {
                width: 232px;
                height: 380px;
                background: #a76d1095;
                display: flex;
                flex-direction: column;
                border-radius: 8px;
                overflow: hidden;

                &_img {
                    padding: 20px 0 10px 0;
                    img {
                        width: 232px;
                    }
                }

                &_titel {
                    p {
                        font-size: 17px;
                        font-weight: 600;
                        text-align: center;
                    }
                }

                &_discount {
                    p {
                        margin-top: 15px;
                        font-size: 17px;
                        font-weight: 700;
                        text-align: center;
                    }
                }

                &_price {
                    p {
                        margin-top: 10px;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                        color: #101010;
                        text-decoration: line-through;
                    }
                }
            }
            
            .product_pc:hover {
                box-shadow: 0 0 15px 5px #a76d10;
                transition: 200ms;
            }
        }
    }
}